@import "bootstrap";
@import "../../styles/globals.scss";

.Search {
  margin-bottom: 2rem;

  > form {
    padding: 2rem;
    width: 100%;
    max-width: 64rem;

    input {
      @extend .form-control-lg;
    }

    button[type = "submit"] {
      @extend .btn-secondary;
    }
  }
}
