@import "bootstrap";
@import "../../styles/globals.scss";

.Search {
  margin-bottom: 2rem;

  > h1 {
    text-align: center;
  }

  > form {
    padding: 2rem 1rem;
    width: 100%;
    max-width: 64rem;

    input {
      @extend .form-control-lg;
    }

    button[type = "submit"] {
      @extend .btn-secondary;
    }

    @include isExtraSmallScreen {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
