@import "../../styles/smallScreens.scss";

.Ratings {
  margin-bottom: 1rem;

  .Star {
    color: #ffce2e;
    font-size: 2em;
    margin: 2px;
  }

  > div {
    display: flex;
    align-items: center;
    gap: 10px;

    p > span {
      font-weight: 550;
      font-size: 1.6em;
    }
  }

  @include isExtraSmallScreen {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
