@import "bootstrap";
@import "../styles/globals.scss";

.MovieContent {
  width: 100%;
  margin-bottom: 4rem;

  > div {
    padding: 0 2rem;
  }

  > div:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
    margin: 2rem 0;

    table {
      @extend .table;
      @extend .table-hover;

      width: 100%;
    }
  }

  .Genres {
    margin-top: 0.65rem;

    > span {
      display: inline-block;
      margin-top: 1px;
      padding: 2px 16px;
      background-color: #6b6766;
      color: white;
      border-radius: 20px;
      box-sizing: border-box;

      &:not(:first-child) {
        margin-left: 1px;
      }
    }
  }

  p {
    font-size: 1em;
  }

  .Star {
    color: #ffce2e;
    font-size: 2em;
    margin: 2px;
  }

  .Plot > * {
    margin: 1rem 0;
  }

  .Ratings {
    margin-bottom: 1rem;

    > div {
      display: flex;
      align-items: center;
      gap: 10px;

      p > span {
        font-weight: 550;
        font-size: 1.6em;
      }
    }
  }
}